{% extends "web/index.html" %}
{% load static %}
{% block main_content %}
<section id="register-page" class="content auth" style="background-image: url('{% static 'images/banner2.jpg' %}'); background-size: cover; background-position: center;">
  <form action="{% url 'upload_track' pk=user.pk%}" method="post" class="upload-form">
    {% csrf_token %}
    <div class="container">
      <div class="brand-logo"></div>
      <h1>Upload Track</h1>
        <div class="form-fields-container">
      {{ form.as_p }}
      <input class="btn submit" type="submit" value="Upload" />
    </div>
  </form>
</section>
{% endblock %}
